.anvil-role-HeaderSelected{
  color: #ffffff !important;
}

.anvil-role-Headerdefault{
  color: #31e880 !important;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#loadingSpinner {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    width: 5%;
    height: 50%;
    border-radius: 0;
    box-shadow: none;/*0px 0px 10px 10px #fcfcfc;*/
    background-color: #31e880;
    #background-image:  !important;
}

/*background-image: url(https://i.imgur.com/JPttykR.gif) !important;*/