.anvil-role-HeaderDefault{
  color: #31e880;
}

.anvil-role-HeaderSelected{
  color: #ffffff !important;
  font-size: 222;
}

a:hover {
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: filter-animation;
}

@keyframes filter-animation {
  0% {
    color: #31e880;
    filter: hue-rotate(0deg);

  }
  
  50% {
    filter: hue-rotate(360deg);

  }
  
  100% {
    filter: hue-rotate(720deg);
    color: #31e880;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#loadingSpinner {
    -webkit-animation:spin .3s linear infinite;
    -moz-animation:spin .3s linear infinite;
    animation:spin .3s linear infinite;
    width: 24px;
    height: 24px;
    border-radius: 0;
    box-shadow: none;/*0px 0px 10px 10px #fcfcfc;*/
    background-color: transparent;
    background-image:  url(_/theme/maceam_logo_mark_green_rgb.png) !important;
}

.anvil-role-HeaderDefault{
  color: #31e880;
}

.anvil-role-HeaderSelected{
  color: #ffffff;
}